fastapi==0.115.11
fontTools==4.56.0
langchain==0.3.20
langchain_anthropic==0.3.10
langchain_openai==0.3.8
pydantic==2.10.6
pydantic_ai==0.0.40
python-dotenv==1.0.1
typing_extensions==4.12.2
uvicorn==0.34.0
